playbook-SecOps_-_U1_-_Domain_Reputation_Check.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: c6a7ceee-2c8f-4163-8182-1e57ca2405bf
inputs: []
name: SecOps - U1 - Domain Reputation Check
outputs: []
sourceplaybookid: dd828765-4251-4b13-8543-56277243bf20
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 66f404ce-de63-466f-8b68-8f54dc905c64
      iscommand: false
      name: ""
      version: -1
    taskid: 66f404ce-de63-466f-8b68-8f54dc905c64
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 65
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.domainname
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fbf70f9f-80e0-4ef5-80ed-18d628dfedc5
      iscommand: false
      name: Domain is exist?
      type: condition
      version: -1
    taskid: fbf70f9f-80e0-4ef5-80ed-18d628dfedc5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 215
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 050f8ba5-5297-4ae2-892e-65472422b5d5
      iscommand: false
      name: Check Domain Reputation
      type: title
      version: -1
    taskid: 050f8ba5-5297-4ae2-892e-65472422b5d5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 800,
          "y": 625
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      domain:
        simple: ${incident.domainname.[0]}
    separatecontext: false
    skipunavailable: false
    task:
      brand: VirusTotal (API v3)
      description: Checks the reputation of a domain.
      id: 9fc4b9a4-75ad-49cd-8452-ab52465221cf
      iscommand: true
      name: Check - Virus Total
      script: VirusTotal (API v3)|||domain
      type: regular
      version: -1
    taskid: 9fc4b9a4-75ad-49cd-8452-ab52465221cf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 910
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      domain:
        simple: ${incident.domainname.[0]}
    separatecontext: false
    skipunavailable: false
    task:
      brand: SOCRadar IOC Radar
      description: Check Domain reputation (when information is available, returns
        a JSON with details). Uses all configured Threat Intelligence feeds.
      id: 1d71923b-c162-483e-8f1e-6b67728cc50f
      iscommand: true
      name: Check - SOC Radar
      script: SOCRadar IOC Radar|||domain
      type: regular
      version: -1
    taskid: 1d71923b-c162-483e-8f1e-6b67728cc50f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 740
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      domain:
        simple: ${incident.domainname.[0]}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Anomali ThreatStream v3
      description: Checks the reputation of the given domain name.
      id: d6222df1-a355-4b84-8b20-31340a605128
      iscommand: true
      name: Check - Anomali
      script: Anomali ThreatStream v3|||domain
      type: regular
      version: -1
    taskid: d6222df1-a355-4b84-8b20-31340a605128
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 560
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Not enough information from given alert.
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 1351b29d-b0ab-436c-87d8-73472808f736
      iscommand: true
      name: Close Incident - No Information
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 1351b29d-b0ab-436c-87d8-73472808f736
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 160,
          "y": 410
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.domainname.[0]
          operator: notContainsGeneral
          right:
            value:
              simple: telkomsel.co.id
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fa827f8e-bd9d-484b-8525-89c320c14c9d
      iscommand: false
      name: Domain not internal?
      type: condition
      version: -1
    taskid: fa827f8e-bd9d-484b-8525-89c320c14c9d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 800,
          "y": 430
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d369c525-8057-4b8e-87c3-c31ed3093225
      iscommand: false
      name: End of Playbook
      type: title
      version: -1
    taskid: d369c525-8057-4b8e-87c3-c31ed3093225
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 800,
          "y": 2050
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${DBotScore(val.Vendor=="Anomali ThreatStream v3").Score}
          operator: isEqualNumber
          right:
            value:
              simple: "0"
        - left:
            iscontext: true
            value:
              simple: ${DBotScore(val.Vendor=="Anomali ThreatStream v3").Score}
          operator: isEqualNumber
          right:
            value:
              simple: "1"
      - - left:
            iscontext: true
            value:
              simple: ${DBotScore(val.Vendor=="SOCRadar IOC Radar").Score}
          operator: isEqualNumber
          right:
            value:
              simple: "0"
        - left:
            iscontext: true
            value:
              simple: ${DBotScore(val.Vendor=="SOCRadar IOC Radar").Score}
          operator: isEqualNumber
          right:
            value:
              simple: "1"
      - - left:
            iscontext: true
            value:
              simple: ${DBotScore(val.Vendor=="VirusTotal (API v3)").Score}
          operator: isEqualNumber
          right:
            value:
              simple: "2"
        - left:
            iscontext: true
            value:
              simple: ${DBotScore(val.Vendor=="VirusTotal (API v3)").Score}
          operator: isEqualNumber
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "22"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 47d953b5-eca2-47f4-859f-940d751015f7
      iscommand: false
      name: Manual Review
      type: condition
      version: -1
    taskid: 47d953b5-eca2-47f4-859f-940d751015f7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 780,
          "y": 860
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |-
          Dear Team,<br><br>

          This Domain (${Email.domainname}) requires manual analysis regarding on the threat intelligence verdicts below:<br><br>

          - Anomali ThreatStream: ${DbotReputation.AnomaliThreatStream}<br>
          - SOC Radar: ${DbotReputation.SOCRadar}<br>
          - VirusTotal: ${DbotReputation.VirusTotal}<br><br>

          Please provide your manual verdict by selecting one of the options below, or respond manually through XSOAR if needed.<br><br>

          Thank you for your attention and support<br><br>

          Best regards,  <br>
          SecOps Team. <br><br>

          Select an option to complete the investigation:
      cc: {}
      format: html
      methods:
      - email
      replyOptions:
      - Bad – Mitigate
      - Good – No Action
      subject:
        simple: Manual Review - ${incident.domainname.[0]}
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: amin.ishaq@dinamikasolusi.com
    nexttasks:
      Bad – Mitigate:
      - "14"
      Good – No Action:
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: Mail Sender (New)_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email.
      id: 7a9abab7-89df-423d-8456-e742d2856ad2
      iscommand: false
      name: Send Email Notification
      type: condition
      version: -1
    taskid: 7a9abab7-89df-423d-8456-e742d2856ad2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1080
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.domainname}
      verdict:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicator
      id: d3d3f941-fda3-4be8-88f6-30bc2ce4d279
      iscommand: true
      name: Good
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: d3d3f941-fda3-4be8-88f6-30bc2ce4d279
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 10,
          "y": 1310
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.domainname}
      verdict:
        simple: Malicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicator
      id: 09c37018-2ea0-4274-8fc3-4c48c5fce469
      iscommand: true
      name: Malicious
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 09c37018-2ea0-4274-8fc3-4c48c5fce469
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -440,
          "y": 1310
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: DbotReputation.SOCRadar
      value:
        complex:
          accessor: Score
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.[].Vendor
              operator: isEqualString
              right:
                value:
                  simple: SOCRadar IOC Radar
          root: DBotScore.[]
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Unknown
              toReplace:
                value:
                  simple: "0"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Good
              toReplace:
                value:
                  simple: "1"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Suspicious
              toReplace:
                value:
                  simple: "2"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Bad
              toReplace:
                value:
                  simple: "3"
            operator: replace
          - args:
              index:
                value:
                  simple: "0"
            operator: atIndex
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 32829c64-78c0-4367-8ed2-5d99c5ca8133
      iscommand: false
      name: Set Dbot Reputation SOCRadar
      script: Set
      type: regular
      version: -1
    taskid: 32829c64-78c0-4367-8ed2-5d99c5ca8133
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1165
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: DbotReputation.AnomaliThreatStream
      value:
        complex:
          accessor: Score
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.[].Vendor
              operator: isEqualString
              right:
                value:
                  simple: Anomali ThreatStream v3
          root: DBotScore.[]
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Unknown
              toReplace:
                value:
                  simple: "0"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Good
              toReplace:
                value:
                  simple: "1"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Suspicious
              toReplace:
                value:
                  simple: "2"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Bad
              toReplace:
                value:
                  simple: "3"
            operator: replace
          - args:
              index:
                value:
                  simple: "0"
            operator: atIndex
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c850cea7-bd08-4ead-896a-80b75cec2076
      iscommand: false
      name: Set Dbot Reputation Anomali
      script: Set
      type: regular
      version: -1
    taskid: c850cea7-bd08-4ead-896a-80b75cec2076
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1015
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: DbotReputation.VirusTotal
      value:
        complex:
          accessor: Score
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.[].Vendor
              operator: isEqualString
              right:
                value:
                  simple: VirusTotal (API v3)
          root: DBotScore.[]
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Unknown
              toReplace:
                value:
                  simple: "0"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Good
              toReplace:
                value:
                  simple: "1"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Suspicious
              toReplace:
                value:
                  simple: "2"
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Bad
              toReplace:
                value:
                  simple: "3"
            operator: replace
          - args:
              index:
                value:
                  simple: "0"
            operator: atIndex
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0a050036-bba4-474c-85f1-270994a5675f
      iscommand: false
      name: Set Dbot Reputation VirusTotal
      script: Set
      type: regular
      version: -1
    taskid: 0a050036-bba4-474c-85f1-270994a5675f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1310
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Email.domainname
      value:
        complex:
          root: incident.domainname.[0]
          transformers:
          - args:
              delimiter:
                value:
                  simple: .
            operator: split
          - args:
              separator:
                value:
                  simple: '&#8203;.'
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0b602dad-92aa-4b13-8f62-8b660fd49413
      iscommand: false
      name: Set Domain text format html
      script: Set
      type: regular
      version: -1
    taskid: 0b602dad-92aa-4b13-8f62-8b660fd49413
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1450
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: domain is internal
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 7b87b6e4-9d60-49cd-85a1-a15f3e00c328
      iscommand: true
      name: Close Incident - Domain internal
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 7b87b6e4-9d60-49cd-85a1-a15f3e00c328
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 190,
          "y": 610
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: e6b9f139-3e58-4152-8edc-d871318556a0
      iscommand: true
      name: 'Close Incident '
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: e6b9f139-3e58-4152-8edc-d871318556a0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1870
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |-
          Dear Team,<br><br>

          This Domain (${Email.domainname}) requires manual analysis regarding on the threat intelligence verdicts below:<br><br>

          - Anomali ThreatStream: ${DbotReputation.AnomaliThreatStream}<br>
          - SOC Radar: ${DbotReputation.SOCRadar}<br>
          - VirusTotal: ${DbotReputation.VirusTotal}<br><br>

          Please provide your manual verdict by selecting one of the options below, or respond manually through XSOAR if needed.<br><br>

          Thank you for your attention and support<br><br>

          Best regards,  <br>
          SecOps Team. <br><br>

          Select an option to complete the investigation:
      cc: null
      format: ""
      methods:
      - email
      replyOptions:
      - "Yes"
      - "No"
      subject:
        simple: '[XSOAR] Approval of detected indicator'
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: amin.ishaq@dinamikasolusi.com,abhy@dinamikasolusi.com
    nexttasks:
      "No":
      - "23"
      "Yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e8636b7a-3531-4e38-8d86-2f5a3a0383e1
      iscommand: false
      name: Email approval of indicator
      type: condition
      version: -1
    taskid: e8636b7a-3531-4e38-8d86-2f5a3a0383e1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1650
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.domainname.[0]}
      verdict:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicator
      id: 8bea1668-3ef2-472c-8af7-584528648a17
      iscommand: true
      name: Allow Indicator
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 8bea1668-3ef2-472c-8af7-584528648a17
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 1650
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      summarythreatstream:
        complex:
          accessor: IP
          root: ThreatStream
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an incident
      id: f1e8e0ab-08e5-49fd-8349-93e219048770
      iscommand: true
      name: setIncident additional Enrichments - Threatstream
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: f1e8e0ab-08e5-49fd-8349-93e219048770
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 1235
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      summarysocradar:
        complex:
          accessor: Domain
          root: SOCRadarIOCRadar
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an incident
      id: 086e150f-0219-41dc-8bfd-7aea06f4279f
      iscommand: true
      name: setIncident additional Enrichments - SOC Radar
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 086e150f-0219-41dc-8bfd-7aea06f4279f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 1405
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      summaryvirustotal:
        complex:
          accessor: Domain
          root: VirusTotal
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an incident
      id: 2272c01b-4519-4ff1-83a6-571f3a39d07b
      iscommand: true
      name: setIncident additional Enrichments - VT
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 2272c01b-4519-4ff1-83a6-571f3a39d07b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 1090
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_6_#default#": 0.44,
      "22_21_Yes": 0.46
    },
    "paper": {
      "dimensions": {
        "height": 2050,
        "width": 2290,
        "x": -440,
        "y": 65
      }
    }
  }
