playbook-High_Volume_Traffic_-_Raphael.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 52655173-7a31-41dd-8e32-3b4fb8b97c34
inputs: []
name: High Volume Traffic - Raphael
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c95a2081-ca35-4abe-856e-ab45721071c5
      iscommand: false
      name: ""
      version: -1
    taskid: c95a2081-ca35-4abe-856e-ab45721071c5
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.totalbytes
          operator: greaterThanOrEqual
          right:
            value:
              simple: "10000000"
      label: High
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.totalbytes
          operator: greaterThan
          right:
            value:
              simple: "1000000"
      - - left:
            iscontext: true
            value:
              simple: incident.totalbytes
          operator: lessThan
          right:
            value:
              simple: "10000000"
      label: Medium
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.totalbytes
          operator: lessThan
          right:
            value:
              simple: "1000000"
      label: Low
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      High:
      - "4"
      Low:
      - "6"
      Medium:
      - "5"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4b017d80-cf9e-4dea-87c3-66a8ba75506e
      iscommand: false
      name: Traffic volume evaluation
      type: condition
      version: -1
    taskid: 4b017d80-cf9e-4dea-87c3-66a8ba75506e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 290
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      ip_list:
        simple: ${incident.sourceip}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: The script blocks a list of IP addresses in supported integrations.
      id: 9e84bb4e-2581-46cc-8343-03b9ae334e51
      iscommand: false
      name: Block IP
      script: block-external-ip
      type: regular
      version: -1
    taskid: 9e84bb4e-2581-46cc-8343-03b9ae334e51
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 510
        }
      }
  "5":
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: kumogakure
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2e5b12f-2bb5-45d4-825a-af86128e7b18
      iscommand: false
      name: Manual Analysis
      type: regular
      version: -1
    taskid: c2e5b12f-2bb5-45d4-825a-af86128e7b18
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 510
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 7850ec2f-984e-47dd-87a8-9ffc2413beec
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 7850ec2f-984e-47dd-87a8-9ffc2413beec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 765,
        "width": 850,
        "x": -20,
        "y": 50
      }
    }
  }
